
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    margin-right: 50px;
    margin-left: 50px;
    overflow-x: hidden;
   
}
  /* ========================================================================== */
  /* Section Barre de Navigation */
  /* ========================================================================== */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 20px;
    position: relative;
    z-index: 10;
    margin-bottom: 0;
    box-shadow: -1px 1px 1px -1px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.navbar::before {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    background-color: #32CC93;
    top: 0;
    left: 0;
    overflow-x: hidden;
}
.phone_wrapper{
  display: none;
}

.navbar .logo a {
    color: #666;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.navbar .nav-links {
  transform: translateX(-200%); 
    transition: transform 0.3s ease;
    list-style: none;
    display: flex;
    margin-top: 10px;
    transition: transform 0.3s ease-in-out;
}
.navbar.active .nav-links {
  transform: translateX(0);
}
.navbar .nav-links li {
    margin: 0 10px;
}

.navbar .nav-links li a {
    color: #666;
    text-decoration: none;
    height: 100%;
    padding: 17px 10px 24px 10px;
    transition: all 0.3s ease;
    /* border: 1px solid red; */
}

.navbar .nav-links li a:hover {
    color: #32CC93;
    background-color: rgba(14, 173, 105, 0.1);
    height: 100%;
    font-weight: 600;
    
}

.navbar .nav-links li a.active {
    background-color: #32CC93;
    color: #fff;
    height: 100%;
    font-weight: 600;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger .bar {
    width: 25px;
    height: 4px;
    background-color: #333;
    margin: 4px 0;
    transition: transform 0.3s ease;
}



.navbar.active .hamburger .bar:nth-child(1) {
    transform: rotate(45deg) translateY(17px);
}

.navbar.active .hamburger .bar:nth-child(2) {
    opacity: 0;
}

.navbar.active .hamburger .bar:nth-child(3) {
    transform: rotate(-45deg) translateY(-17px);
}

/* ------icones telephones navbar=------------ */
.menu-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
 .phone-icone-span{
    width: 40px;
    height: 40px;
    margin-right: 8px;
    background-color: #32CC93;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;

}

/*================================ fin navbar ====================================*/

/* ---------------------------------------------------------- */

   /* ========================================================================== */
  /* Section Banniere */
  /* ========================================================================== */
 
.banner {
    background-image: url('/images/slider-image2.jpg'); 
    background-size: cover; 
    height: 500px; 
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
}
.banner .banner-paragraph{
    max-width: 80%;
    padding-right: 15rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
}
.banner h1 {
    font-size: 2.5rem; 
    font-weight: bold;
    line-height: 1.2
}

.banner .banner-paragraph p {
    font-size: 1rem;
    margin-top: 10px;
    line-height: 1.5;
}
.banner .banner-paragraph a {
    margin-top: 15px;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 50px;
    transition: background-color 0.3s ease-in-out;
}
.banner .banner-paragraph a:hover {
    background-color: #32CC93;
    color: #f9f9f9;
    transition: background-color 0.3s ease-in-out;
    /* transform: translate3d(4px, 1px, -5px); */
    font-weight: bold;
    /* font-size: 12px; */
    /* letter-spacing: 1px; */
    cursor: pointer;
}

 /* Fin section baniere ================================================================= */

/* ------------------------------------------------------------------------------------------- */

   /* ========================================================================== */
  /* Section Teachers */
  /* ========================================================================== */
 .section-prof{
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 60px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 }
 #teachers-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.teacher {
    
    border-radius: 8px;
    width: 22%;
    text-align: center;
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.teacher:hover {
    transform: translateY(-5px);
    /* box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); */
}
.content-box {
    background-color: #fff; 
    padding: 15px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
.images-prof {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.titre-prof {
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0 5px;
    color: #666;
}

.para-prof {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 15px;
}

.liens-prof {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.liens-prof a {
    color: #4150B5;
    text-decoration: none;
    font-size: 0.8em;
    transition: color 0.3s ease;
}

.liens-prof a i{
  color: #666 !important;
  text-decoration: none;
}

.liens-prof a:hover {
    color: #4150B5;
}

/* ====fin section Teachers============================================== */


/* --------------------------------------------------------------------------- */

  /* ========================================================================== */
  /* Section Courses */
  /* ========================================================================== */
  .container{
    max-width: 1200px;
    height: 90rem;
    display: flex;
      align-items: center;
    flex-direction: column;
    justify-content: center;
      text-align: center;
      margin-bottom: 30px;
  }
  
  .courses-content h2 {
      font-size: 2rem;
      margin-bottom: 10px;
  }
  
  .courses-content p {
      font-size: 1.2rem;
      margin-bottom: 20px;
  }
  .image-container{
      display: flex;
      flex: auto;
      align-items: center;
      justify-content: center;
      gap: 20px !important;
      
  }
  
  .image-container .image{
      width: auto;
      height: 230px;
      object-fit: cover;
  }
  .slider-header{
    position: relative;
    
  }
  .horaire{
    position: absolute;
    display: flex;
    gap: 15px;
    bottom: 0;
    left: 20px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1.5px;
  }
  .section-btns{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;

  }
  
  .section-btns .navigation-btns{
    align-self: center;
    user-select: none;
  }
  .section-btns .navigation-btns i{
    display: inline-block;
    padding: 10px 18px;
    background-color: rgb(184, 178, 178);
    color: #f9f9f9;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    user-select: none;
  }
  .section-btns .navigation-btns i:hover{
    background-color: #666;
  }
  .section-btns .navigation-btns i:nth-child(1){
    margin-right: 5px;
  }
  
  .container .slider{
    display: flex;
    overflow: hidden;
    width: 100%;
    /* height: 250px; */
    margin-top: 3.8rem;
    height: 580px;
    gap: 20px;

  
  }
  .slider .slider-item{
    
    flex: 0 0 calc((100% - 40px) / 3); 
    max-width: calc((100% - 40px) / 3); 
    transition: transform 0.5s ease;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    border-radius: 15px;
      padding: 0px;
      /* padding-bottom: 20px; */
    overflow: hidden;
      background-color: transparent;
  }
  .slider-item:nth-child(1){
    left: calc(-350px + -20px);
  }
  .slider-item:nth-child(2){
    left: 0;
  }
  .slider-item:nth-child(3){
    left: calc(350px + 20px);
  }
  .slider-item:nth-child(4){
    left: calc((350px + 20px) * 2);
  }
  .slider-item:nth-child(5){
    left: calc((350px + 20px) * 3);
  }
  .slider-item:nth-child(6){
    left: calc((350px + 20px) * 4);
  }
  .slider-item:nth-child(7){
    left: calc((350px + 20px) * 5);
  }
  .slider-item:nth-child(8){
    left: calc((350px + 20px) * 6);
  }
  .slider-item img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
  }
  
  .paragraph_wrapper{
    background-color: rgb(247, 247, 247);
    padding: 20px;
    margin-top: 40px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    
  }
  .paragraphe1{
    display: flex;
    text-align: start;
    flex-direction: column;
    padding: 10px 10px 20px 20px;
    color: #000;
    /* font-weight: bolder; */
    
    }
    .paragraphe1 h3{
        font-size: 2rem;
        margin-bottom: 10px;
        font-weight: light;
    }
    
    .paragraphe2{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 10px 20px 20px;
      margin-bottom: 20px;
    }
    .image-profil{
      display: flex;
      align-items: center;
      justify-content: center;
      
    }
  .paragraphe2 img{
	  height: 30px;
	  width: 30px;
	  margin-right: 10px;
	  border-radius: 50%;
	  border: 3px solid transparent;
  }
  
  .paragraphe2 .price{
    display: flex;
    align-items: center;
    justify-content: center;
	  width: 60px;
	  height: 30px;
	  text-align: center;
	  color: #fff;
	  background-color: #4150B5;
  }
  .paragraphe2 .price1{
    display: flex;
    align-items: center;
    justify-content: center;
	  width: 60px;
	  height: 30px;
	  text-align: center;
	  color: #fff;
	  background-color: #32CC93;
  }
/* Fin Section Cours ================================================== */


/* -------------------------------------------------------------------- */

  /* ========================================================================== */
  /* Section Contact */
  /* ========================================================================== */
.section_contact {
    display: flex;
    flex-wrap: wrap; 
    background-color:  #4150B5;
    justify-content: space-between; 
    align-items: center;
    gap: 20px; 
    padding: 100px 100px;
    margin-top: 10px;
    
  }
  
  .formulaire {
    flex: 1; 
    max-width: 500px; 
  }
  
  .formulaire h1 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #f9f9f9;
  }
  
  .formulaire p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #f9f9f9;
  }
  
  .formulaire form {
    display: flex;
    flex-direction: column;
    gap: 15px; 
  }
  
  .formulaire form input,
  .formulaire form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .formulaire form textarea {
    resize: none;
    height: 150px;
  }
  
  .formulaire form input[type="submit"] {
    background-color: #f9f9f9;
    max-width: 200px;
    color: #333;
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
    font-size: 1rem;
    padding: 15px 10px;
    border-radius: 50px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .formulaire form input[type="submit"]:hover {
    background-color: #32CC93;
    color: #f9f9f9;
    transition: background-color 0.3s ease-in-out;

    /* font-weight: bold;
    font-size: 12px;
    transform: translate3d(4px, 1px, -5px); */

  }
  
  .contact_image {
    flex: 1; 
    max-width: 500px; 
    text-align: center;
  }
  
  .contact_image img {
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
  /* Fin Section Contact ================================================== */

  /* ========================================================================== */
  /* Section Footer */
  /* ========================================================================== */

 
.footer {
    background-color: #000; 
    color: #fff; 
    padding: 40px 20px; 
    padding-left: 100px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly; 
    gap: 20px; 
  }
  
  .footer-section {
    flex: 1; 
    min-width: 250px; 
  }
  
  .footer-section h3 {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #f9f9f9; 
    font-weight: bold;
    
  }
  
  .footer-section p {
    font-size: 0.9rem;
    line-height: 1.6;
    color: #b3b3b3;
  }
  
  .footer-section ul {
    list-style: none; 
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    color: #fff; 
    text-decoration: none; 
    font-size: 0.9rem;
    transition: color 0.3s ease;
  }
  
 
  .footer-section p:last-child {
    margin-bottom: 0; 
  }
  
  /* Fin Section Footer ============================================== */
