
@media (min-width: 1024px) {


    .navbar .nav-links {
        transform: none;  
        display: flex;     
        justify-content: space-between; 
    }
    .banner {
        height: 600px; 
    }
    .banner .banner-paragraph {
        text-align: left; 
        align-items: flex-start;
        max-width: 600px;
    }
    .banner h1 {
        font-size: 3rem;
    }
    .banner .banner-paragraph p {
        font-size: 1.2rem;
    }
    .banner .banner-paragraph a {
        font-size: 1.2rem;
    }
    /* debut responsive teacher */
    .teacher {
        width: 22%;
    }
    
}

@media (min-width: 500px) and (max-width: 1023px) {
    body {
        padding-left: 0;
    }
    .navbar{
        margin: 0;
    }
    .navbar .nav-links {
        position: absolute;
        top: 45px;
        left: 0;
        width: 100%;
        background-color: #fbfcf8;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
        transform: translateX(-200%);
        transition: transform 0.3s ease;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 
        0 1px 3px rgba(255, 255, 255, 0.5);
    }
    .navbar::before {
        display: none;
    }
    .navbar.active .nav-links {
        transform: translateX(0);
    }

    .navbar .nav-links li {
        margin: 15px 0;
    }
    .navbar .nav-links li a{
      padding: 5px 40px 5px 40px;
    border-radius: 15px;
    }
    .phone-icone-span{
        width: 25px;
        height: 25px;
    
    }

    .hamburger {
        display: flex;
        position: absolute;
        right: 0;
    }
/* ================Debut Section Banniere============================= */

    .banner {
        height: auto; 
        padding-right: 0;
        padding: 40px 20px;
    }
    .banner .banner-paragraph {
        max-width: 90%; 
    }
    .banner h1 {
        font-size: 2rem; 
    }
    .banner .banner-paragraph p {
        font-size: 0.9rem;
    }
    .banner .banner-paragraph a {
        font-size: 0.9rem;
    }
/* ================Debut Section Teacher============================= */
    .teacher {
        width: 45%;
    }
    .teacher:hover {
        transform: scale(1.2);
    }

    .image-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .image {
        max-width: 90%; 
    }
    .liens-prof a {
        flex: 0 0 24%; 
    }
   /* ================Debut Section Contact============================= */

    .section_contact {
        flex-direction: column; 
        align-items: center;
        padding: 40px 20px;
      }
    
      .formulaire {
        max-width: 100%; 
        text-align: center; 
      }
    
      .formulaire form input,
      .formulaire form textarea {
        font-size: 0.9rem; 
      }
    
      .contact_image {
        max-width: 100%; 
      }
    
      .contact_image img {
        max-width: 80%; 
      }
      /* Fin Partie contact */

        /* ================Debut Section Footer============================= */

      .footer {
        flex-direction: column; 
        align-items: center; 
        text-align: center; 
      }
    
      .footer-section {
        max-width: 100%; 
      }
    
      .footer-section h3 {
        font-size: 1.2rem; 
      }
    
      .footer-section p,
      .footer-section ul li a {
        font-size: 0.8rem; 
      }
     
}









@media (max-width: 499px) {
  
    .navbar{
        margin-bottom: 0;
    }
    .phone_wrapper{
        display: flex;
      }
    .navbar .logo a{
        align-self: start;
    }
    .navbar .nav-links {
        position: absolute;
        top: 45px;
        left: 0;
        width: 100%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1), 
        0 1px 3px rgba(255, 255, 255, 0.9);
        transform: translateX(-200%);
    }

    .navbar::before {
        display: none;
    }

    .navbar.active .nav-links {
        transform: translateX(0);
    }

    .navbar .nav-links li {
        margin: 15px 15px;
        text-align: center;
    }
.navbar .nav-links li a { 
    padding: 5px 40px 5px 40px;
    border-radius: 10px;
    display: flex;
}

    .phone-icone-span{
        display: none;
    }
    .numero{
        display: none;
    }
    .hamburger {
        display: flex;
        position: absolute;
        right: 0;
    }
    

    /* ====Debut section  banniere==================================== */
    .banner {
        flex-direction: column;
        padding: 20px;
    }
    .banner .banner-paragraph {
        max-width: 100%;
        padding-right: 0;
        align-items: center;
        text-align: center;
    }
    .banner h1 {
        font-size: 1.5rem;
    }
    .banner .banner-paragraph p {
        font-size: 0.8rem;
    }
    .banner .banner-paragraph a {
        font-size: 0.8rem;
        padding: 8px 16px; 
    }
    /*======= responsivite teachers============================== */
    .teacher {
        width: 100%;
    }

    .teacher:hover {
        transform: scale(1.2);
    }

    .images-prof {
        width: 100%;
    }

    .titre-prof {
        font-size: 1em;
    }
    .section-prof{
        font-size: 10px;
        /* font-family: sans-serif; */
    }
    /* ==== responsivite Cours ======================== */
   .popularCourses_title{
    font-style: 10px;
   }
    .horaire{
        position: absolute;
        display: flex;
        gap: 7px;
        bottom: -1rem;
        left: 20px;
        color: #fff;
        font-size: 10px;
        letter-spacing: 1.5px;
      }
     .paragraphe1{
    display: flex;
    text-align: start;
    flex-direction: column;
    padding: 0;
    
    }
    .paragraphe1 h3{
        font-size: 1rem;
        margin-bottom: 10px;
        font-weight: light;
    }
    .container{
        
          margin-bottom: 10px;
      }
      
    .paragraphe2{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0;
      margin-bottom: 10px;
    }
    .image-profil{
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      
    }
    .paragraphe2 img{
        height: 40px;
        width: 40px;
        margin-right: 10px;
        margin-bottom: 4px;
        border-radius: 50%;
        border: 2px solid #f4f4f4;
        
    }
    
    .paragraphe2 .price{
      display: flex;
      align-items: center;
      justify-content: center;
        width: 50px;
        height: 30px;
        text-align: center;
        color: #fff;
        background-color: #4150B5;
    }
    .paragraphe2 .price1{
      display: flex;
      align-items: center;
      justify-content: center;
        width: 50px;
        height: 30px;
        text-align: center;
        color: #fff;
        background-color: #32CC93;
    }
    /* ==== responsivite Contact ======================== */
    .section_contact{
        padding: 40px 20px;
    }
    .formulaire h1 {
        font-size: 1.5rem; 
      }
    
      .formulaire p {
        font-size: 1rem; 
      }
    
      .formulaire form input,
      .formulaire form textarea {
        font-size: 0.8rem; 
      }
    
      .contact_image img {
        max-width: 100%; 
      }
      /* ==== responsivite Footer ======================== */
      .footer{
        padding-left: 50px;
      }
      .footer-section p {
        font-size: 0.75rem; 
      }
    
      .footer-section ul li a {
        font-size: 0.75rem;
      }
}



@media (min-width: 768px) and (max-width: 1023px) {
    .slider .slider-item {
        flex: 0 0 calc((100% - 20px) / 2); 
        max-width: calc((100% - 20px) / 2);
    }
}
@media (max-width: 767px) {
    .slider .slider-item {
        flex: 0 0 100%; 
        max-width: 100%;
    }
}